.home81 {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 32px;
  cursor: pointer;
}
.frame-child23 {
  width: 18.5px;
  height: 22.1px;
  position: relative;
}
.vector-wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs-5) 0 0;
}
.venue10 {
  position: relative;
  display: inline-block;
  min-width: 34px;
}
.home-parent6,
.venue-name10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.venue-name10 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.home-parent6 {
  width: 101px;
  flex-direction: row;
  gap: 8.25px;
}
.venue11 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 94px;
}
.venue-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
}
.p26,
.were-here-to23 {
  margin: 0;
}
.were-here-to-container23 {
  height: 48px;
  position: relative;
  font-size: var(--font-size-smi);
  display: inline-block;
}
.sub-nav-links,
.txt11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.sub-nav-links {
  gap: var(--gap-mid);
  font-size: var(--font-size-17xl);
}
.txt11 {
  align-self: stretch;
  background-color: var(--color-darkslategray-100);
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-4xs) var(--padding-17xl) var(--padding-2xs);
  box-sizing: border-box;
  gap: 2.399999999999636px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  font-family: var(--font-iceberg);
}
@media screen and (max-width: 750px) {
  .venue11 {
    font-size: var(--font-size-10xl);
  }
}
@media screen and (max-width: 450px) {
  .venue11 {
    font-size: var(--font-size-3xl);
  }
}
